* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}
main {
  display: flex;
}

#admin {
  width: 60vw;
}

#settings {
  width: 60vw;
}

.review {
  display: flex;
}

@media (max-width: 1000px) {
  main {
    flex-direction: column;
    align-items: center;
  }
  #admin {
    width: 95vw;
  }
  #settings {
    width: 95vw;
  }
}

@media (max-width: 600px) {
  .review {
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
